/** Variables, Inicializaciones y Reseteo de Estilos **/

:root {
	/* Colors */
	--dark: #232830;
	--black: #000000;
	--white: #FFFFFF;
	--hospital-green: #ACD9B2;
	--very-light-pink: #C7C7C7;
	--text-input-field: #F7F7F7;

	/* Font Sizes */
	--icon-sizemall: 14px;
	--medium: 15px;
	--large: 18px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Quicksand", sans-serif;
}

/** Header **/

.header {
	width: 100%;
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 0px 10px 1px rgba(170, 160, 160, 0.185);
}

.header__logo {
	height: 20px;
}

.header__side-button {
	width: 25px;
	height: 25px;
	background-size: 25px 25px;
}

.header__side-button--menu {
	background-image: url("/assets/icons/menu.svg");
}

.header__side-button--cart {
	background-image: url("assets/icons/shopping_cart.svg");
}

/** Search & Nav Bar **/

.search-bar {
	margin: 10px 15px 10px;
	padding: 8px 10px;
	display: grid;
	grid-template-columns: auto 1fr;
	border-radius: 8px;
	background-color: var(--text-input-field);
}

.search-bar__input-text {
	border: none;
	font-family: inherit;
	font-size: var(--medium);
	background-color: transparent;
}

.search-bar__input-text:focus-visible {
	outline: none;
}

.search-bar__input-text::placeholder {
	color: var(--very-light-pink);
}

.search-bar__icon {
	--icon-size: 19px;
	background-image: url("/assets/icons/search.svg");
	background-size: var(--icon-size) var(--icon-size);
	height: var(--icon-size);
	width: var(--icon-size);
	margin-right: 6px;
}